@use '../styles/utils.module.scss' as utils;

.about {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1rem;

    & .highlight {
        font-weight: 700;
    }

    & .paragraph {
        margin-top: 1rem;

        & a {
            color: utils.$green-color;
        }
    }
}

.actionCardContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}

.actionCard {
    width: 20rem;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    &:hover {
        cursor: pointer;
        background-color: utils.$green-color-hover;
    }

    &:active {
        background-color: utils.$green-color-button;
    }

    & p {
        margin-top: 1rem;
        padding: .5rem 1rem;
        background-color: utils.$green-color-hover;
        width: 15rem;
        text-align: center;
    }
}

@media only screen and (max-width: utils.$medium-breakpoint) {
    .about {
        width: 100%;
    }

    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: utils.$small-breakpoint) {
    .content {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
    }

    .actionCardContainer {
        flex-direction: column;
    }
}