@use 'styles/utils.module.scss' as utils;

.about {
    height: utils.$min-height;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1rem;

    & .highlight {
        font-weight: 700;
    }

    & .paragraph {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: utils.$medium-breakpoint) {
    .about {
        width: 100%;
    }
    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: utils.$small-breakpoint) {
    .content {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        text-align: left;
    }
}