@use '../styles/utils.module.scss' as utils;

.tabContainer {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    margin-right: 5vh;
    gap: 2rem;
    
    &.column {
      flex-direction: column;
      margin-top: .4rem;
    }
  }
  
  .tabBar {
    position: fixed;
    margin-top: 1.5rem;
    height: fit-content;
    width: 15rem;
    background-color: utils.$secondary-color;

    &.column {
      width: 100%;
      position: start;
      margin-top: 0rem;
    }
  }

  .tabPanelScrollable {
    margin-left: 17rem;
    flex-grow: 1;

    & .contentSection {
        margin-top: 1rem;
    }

    &.column {
      margin-left: 1rem;
      margin-top: 3rem;
    }
  }
  
  .experienceSection {
    &:last-child {
      min-height: 70vh;
    }
}
