@use '../styles/utils.module.scss' as utils;

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: utils.$min-height;
    max-width: 60%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.header {
    min-height: utils.$min-height;
    width: utils.$min-width;

    & .highlight {
        color: utils.$tertiary-color;
    }

    & h3 {
        margin-left: .5rem;
        height: 4rem;
        background-image: url('../public/images/green-circle.svg');
        background-size: 4rem 4rem;
        background-repeat: no-repeat;
        padding-left: 2.5rem;
        padding-top: 1rem;
    }

    & .paragraph {
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: .5rem;
    }

    & .logo {
        margin-top: 1rem;
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media only screen and (max-width: utils.$medium-breakpoint) {
    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: utils.$small-breakpoint) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}