@use '../styles/utils.module.scss' as utils;

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: utils.$min-height;
    max-width: utils.$min-width;
    padding-left: 3rem;
    padding-right: 3rem;
}

.header {
    height: 90vh;

    & .background {
        background: linear-gradient(-45deg, utils.$primary-color, utils.$tertiary-color, utils.$primary-color, utils.$tertiary-color);
        background-size: 400% 400%;
        animation: gradient 7s ease infinite;
        height: utils.$min-height;
        // height: 150vh;
        min-width: utils.$min-width;
        position: relative;
        z-index: -1;
    }

    & h1,
    h5,
    h6,
    p {
        margin: 0
    }

    & h5 span {
        margin: 1rem;
        background-color: utils.$secondary-color;
        box-shadow: 0rem 0rem 0rem 1rem utils.$secondary-color;
    }

    & .photo {
        width: 90%;
        margin-left: 2rem;
        box-shadow: inset -.5rem -.5rem 0 .75rem white;
        -webkit-filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 utils.$secondary-color) drop-shadow(1rem 1rem 0 utils.$quinary-color);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 utils.$secondary-color) drop-shadow(1rem 1rem 0 utils.$quinary-color);
    }

    & .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: .5rem;
        filter: brightness(0) invert(1);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
