@use '../styles/utils.module.scss' as utils;

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: utils.$min-height;
    max-width: 60%;
    padding-left: 5rem;
    padding-right: 5rem;
}

.portfolio {
    min-height: utils.$min-height;
    width: utils.$min-width;

    & h5 span {
        margin: 1rem;
        background-color: utils.$quaternary-color;
        box-shadow: 0rem 0rem 0rem 1rem utils.$quaternary-color;
    }

    & .highlight {
        color: utils.$tertiary-color;
    }

    & .paragraph {
        text-align: justify;
        text-justify: inter-word;
        margin-bottom: .5rem;
    }

    & .bluespan {
        background-color: utils.$secondary-color;
        width: utils.$min-width;
        height: .5rem;
        margin-top: .5rem;
    }

    & .logo {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media only screen and (max-width: utils.$medium-breakpoint) {
    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: utils.$small-breakpoint) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
