@use '../styles/utils.module.scss' as utils;

.content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: utils.$min-height;
    max-width: utils.$min-width;
    padding: 5rem;
}

.list {
    max-height: 50%;
    width: 50%;
    overflow: scroll;
    padding: 3rem;
}

.listItem {
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 5rem;
}

.prompt {
    background-color: utils.$tertiary-color;
}

.yellowspan {
    background-color: utils.$quaternary-color;
    width: utils.$min-width;
    height: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

@media only screen and (max-width: utils.$medium-breakpoint) {
    .content {
        padding-left: 3rem;
        padding-right: 3rem;
        max-width: 100%;
    }
}

@media only screen and (max-width: utils.$small-breakpoint) {
    .content {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
