.main {
    text-align: start;
    overflow: scroll;
    min-height: utils.$min-height;
    width: utils.$min-width;
    scroll-snap-type: y proximity;

    section {
        min-height: utils.$min-height;
        scroll-snap-align: start;
    }

    a:hover {
        cursor: pointer;
    }
}