@use '../styles/utils.module.scss' as utils;

.main {
    text-align: start;
    overflow: scroll;
    min-height: utils.$min-height;
    width: utils.$min-width;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: y proximity;
    padding-top: 3rem;

    section {
        min-height: utils.$min-height;
        scroll-snap-align: start;
    }
}
