@use 'styles/utils.module.scss' as utils;

.portfolioPage {
    background: utils.$quinary-color;
    padding-top: 10rem;
    padding-bottom: 7rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: utils.$min-height;

    & .title {
        width: 60%;
    }

    & .paragraphContainer {
        width: 40%;
        margin-bottom: 3rem;
    }

    & .paragraph {
        width: 95%;
    }

    & .button {
        border-radius: 0;
        color: utils.$quinary-color;
        margin-top: 2rem;
    }

    & img {
        max-width: 100%;
    }

    & h2,
    h3,
    h4,
    p,
    ul {
        text-align: justify;
        text-justify: inter-word;
    }

    & h2 {
        font-family: utils.$display-font-stack;
        font-size: 1.5rem;
        margin-top: 1rem;
        text-align: left;
    }

    & h3 {
        font-family: utils.$display-font-stack;
        font-size: 1.7rem;
        font-weight: 700;
        margin-top: 4rem;
        margin-bottom: .25rem;
    }

    & h4 {
        font-family: utils.$font-stack;
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: .25rem;
    }

    & p,
    ul {
        font-family: utils.$font-stack;
        font-weight: 300;
        margin-top: .25rem;
    }

    & ul {
        list-style-image: url('../../public/images/green-bullet.svg');
        list-style-position: outside;
    }

    & ul ul {
        list-style-image: url('../../public/images/light-green-bullet.svg');
        list-style-position: outside;
    }

    & a {
        background-color: utils.$green-color-button;
        margin-top: .25rem;
    }
    
    & a:hover {
        background-color: utils.$green-color-hover;
    }

    & a:active {
        background-color: utils.$green-color-active;
    }

    & em>strong {
        font-style: normal;
        font-weight: 500;
        color: utils.$green-color;
    }

    & strong {
        font-weight: 400;
        color: utils.$green-color;
    }

    & em {
        font-style: normal;
        font-weight: 500;
        color: utils.$green-color;
    }
}

@media only screen and (max-width: utils.$medium-breakpoint) {
    .portfolioPage {
        padding-left: 1rem;
        padding-right: 1rem;

        & .paragraphContainer,
        .title,
        .paragraph {
            width: 100%;
        }
    }
}
