@use './utils.module.scss' as utils;

html,
body {
  min-height: utils.$min-height;
  width: utils.$min-width;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: utils.$secondary-color;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  background: utils.$green-color-06;
}

::-webkit-scrollbar-thumb:hover {
  background: utils.$green-color;
}

* {
  box-sizing: border-box;
}
