@use './utils.module.scss' as utils;

html {
  background-color: utils.$secondary-color;
}

html,
body {
  min-height: utils.$min-height;
  width: utils.$min-width;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: utils.$quinary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: utils.$quaternary-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: utils.$quaternary-color-hover;
}

* {
  box-sizing: border-box;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
//   body {
//     color: white;
//     background: black;
//   }
// }
