@use './utils.module.scss' as utils;

.main {
  text-align: start;
  overflow: scroll;
  min-height: utils.$min-height;
  width: utils.$min-width;
  scroll-snap-type: y proximity;

  section {
    min-height: utils.$min-height;
    scroll-snap-align: start;
  }
}

.portfolio {
  background-color: #FFFFFF;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: utils.$min-height;
  max-width: utils.$min-width;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media only screen and (max-width: utils.$medium-breakpoint) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: utils.$small-breakpoint) {
  .content {
    overflow: scroll;
  }
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(143% + 1.3px);
  height: 99px;
  transform: rotateY(180deg);
  fill: #FFFFFF;
}

.wave .shape-fill {
  fill: #FFFFFF;
}
