@use './utils.module.scss' as utils;

.main {
  text-align: start;
  overflow: scroll;
  min-height: utils.$min-height;
  width: utils.$min-width;
  scroll-snap-type: y proximity;

  section {
    min-height: utils.$min-height;
    scroll-snap-align: start;
  }
}

.portfolio {
  background-color: utils.$secondary-color;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: utils.$min-height;
  max-width: utils.$min-width;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media only screen and (max-width: utils.$medium-breakpoint) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: utils.$small-breakpoint) {
  .content {
    overflow: scroll;
  }
}
