@use './utils.module.scss' as utils;

.main {
  text-align: start;
  overflow: scroll;
  height: utils.$min-height;
  width: utils.$min-width;
  scroll-snap-type: y proximity;

  section {
    height: utils.$min-height;
    scroll-snap-align: start;
    position: relative;
  }
}

.content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: utils.$min-height;
  max-width: utils.$min-width;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media only screen and (max-width: utils.$medium-breakpoint) {
  .content {
      padding-left: 1rem;
      padding-right: 1rem;
  }
}

@media only screen and (max-width: utils.$small-breakpoint) {
  .content {
      overflow: scroll;
  }
}

.header {
  min-height: utils.$min-height;

  & .background {
    background: linear-gradient(-45deg, utils.$primary-color, utils.$tertiary-color, utils.$primary-color, utils.$tertiary-color);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    min-height: utils.$min-height;
    min-width: utils.$min-width;
    position: fixed;
  }

  & h1,
  h5,
  h6,
  p {
    margin: 0
  }

  & h5 span {
    margin: 1rem;
    background-color: utils.$secondary-color;
    box-shadow: 0rem 0rem 0rem 1rem utils.$secondary-color;
  }

  & .photo {
    width: 90%;
    margin-left: 2rem;
    box-shadow: inset -.5rem -.5rem 0 .75rem white;
    -webkit-filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 utils.$secondary-color) drop-shadow(1rem 1rem 0 utils.$quinary-color);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(90%) brightness(150%) drop-shadow(1rem 1rem 0 utils.$secondary-color) drop-shadow(1rem 1rem 0 utils.$quinary-color);
  }

  & .logo {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1rem;
    filter: brightness(0) invert(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
