@use './utils.module.scss' as utils;

.header {
  background-image: url("../public/images/blue-bottom.svg"), url("../public/images/background.svg");
  background-color: utils.$secondary-color;
  background-position: bottom, top;
  background-size: cover;
  background-repeat: no-repeat;
}

.about {
  background-image: url("../public/images/blue-bottom.svg"), url("../public/images/blue-top.svg");
  background-color: utils.$quinary-color;
  background-position: bottom, top;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio {
  background-color: utils.$secondary-color;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: utils.$min-height;
  max-width: utils.$min-width;
  padding-left: 3rem;
  padding-right: 3rem;
}

@media only screen and (max-width: utils.$medium-breakpoint) {
  .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: utils.$small-breakpoint) {
  .content {
    overflow: scroll;
  }
}