@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=DM+Serif+Display&display=swap');

$primary-color: #000000; // xiketic 070538
$secondary-color: #04A6BF; // ming
$tertiary-color: #E9513A; // vermillion
$quaternary-color: #FFDD61; // jonquil
$quinary-color: #FFFFFF; // cornsilk FFFDF0
$senary-color: #BDDBD0; //opal
$green-color: #4CAF50;
$green-color-06: rgb(76,175,80,.6);
$green-color-04: rgb(76,175,80,.4);
$display-font-stack: 'DM Serif Display', sans-serif;
$font-stack: 'DM Sans', serif;
$min-height: 100vh;
$min-width: 100%;
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$quaternary-color-hover: #f0c631;
$quaternary-color-active: #fde488;

.app {
  font-family: $font-stack;
}

.list {
  list-style: none;
}

.redspan {
    background-color: $tertiary-color;
    width: $min-width;
    height: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.yellowspan {
    background-color: $quaternary-color;
    width: $min-width;
    height: .5rem;
}

.greenspan {
    background-color: #4CAF50;
    opacity: .6;
    width: $min-width;
    height: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    z-index: 0;
}

.whitespan {
    background-color: $quinary-color;
    width: 80%;
    height: .25rem;
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }

$transition-timeout: 1000ms;

.content-left-enter {
    opacity: 0;
    transform: translateX(-10vw)
}

.content-right-enter {
    opacity: 0;
    transform: translateX(10vw)
}

.content-bottom-enter {
    opacity: 0;
    transform: translateY(10vh)
}

.content-grow-enter {
    opacity: 0;
    transform: scale(.8);
}

.content-left-enter-active,
.content-right-enter-active,
.content-bottom-enter-active,
.content-grow-enter-active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity $transition-timeout, transform $transition-timeout;
}
