@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');

$primary-color: #070538; // xiketic
$secondary-color: #04A6BF; // ming
$tertiary-color: #E9513A; // vermillion
$quaternary-color: #FFDD61; // jonquil
$quinary-color: #FFFDF0; // cornsilk
$senary-color: #BDDBD0; //opal
$font-stack: 'Open Sans', sans-serif;
$min-height: 100vh;
$min-width: 100%;
$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1024px;
$secondary-gradient: #023B44;
$tertiary-gradient: #C23924;

.app {
  font-family: $font-stack;
}

.list {
  list-style: none;
}

.redspan {
    background-color: $tertiary-color;
    width: $min-width;
    height: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.yellowspan {
    background-color: $quaternary-color;
    width: $min-width;
    height: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.whitespan {
    background-color: $quinary-color;
    width: 80%;
    height: .25rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

// @media (prefers-color-scheme: dark) {
//   .card,
//   .footer {
//     border-color: #222;
//   }
//   .code {
//     background: #111;
//   }
//   .logo img {
//     filter: invert(1);
//   }
// }

$transition-timeout: 1000ms;

.content-left-enter {
    opacity: 0;
    transform: translateX(-10vw)
}

.content-right-enter {
    opacity: 0;
    transform: translateX(10vw)
}

.content-bottom-enter {
    opacity: 0;
    transform: translateY(10vh)
}

.content-grow-enter {
    opacity: 0;
    transform: scale(.8);
}

.content-left-enter-active,
.content-right-enter-active,
.content-bottom-enter-active,
.content-grow-enter-active {
    opacity: 1;
    transform: translateX(0) scale(1);
    transition: opacity $transition-timeout, transform $transition-timeout;
}
